<%- model_class = Car -%>
<div class="border-form-div">
  <fieldset>
  <legend><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></legend>
<%= render :partial => 'form' %>
  </fieldset>
</div>
